<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>BasebandPatches</key>
	<dict>
		<key>BBUpdater</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/bbupdater</string>
			<key>Patch</key>
			<string>bbupdater.patch</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/bin/bbupdater</string>
		</dict>
		<key>Baseband EEP</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.eep</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.eep</string>
		</dict>
		<key>Baseband FLS</key>
		<dict>
			<key>File</key>
			<string>usr/local/standalone/firmware/ICE04.05.04_G.fls</string>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/ICE04.05.04_G.fls</string>
		</dict>
		<key>Bootloader 3.9</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl39.bin</string>
		</dict>
		<key>Bootloader 4.6</key>
		<dict>
			<key>Path</key>
			<string>Applications/BootNeuter.app/firmware/bl46.bin</string>
		</dict>
	</dict>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.s5l8900x</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>29900b1381b112bc6ca157b8d5e533fb</string>
			<key>Key</key>
			<string>f991b79dc86f1ed7d997785b4e93c0b9</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>1df103ab51af7ad9f8488d9e3b9edf11</string>
			<key>Key</key>
			<string>72e3360fae2d22252f497bd08d060d83</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>IV</key>
			<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
			<key>Key</key>
			<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/LLB.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-6494-014.dmg</string>
			<key>IV</key>
			<string>25e713dd5663badebe046d0ffa164fee</string>
			<key>Key</key>
			<string>7029389c2dadaaa1d1e51bf579493824</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.m68ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.m68ap.production/iBoot.m68ap.RELEASE.img3</string>
			<key>IV</key>
			<string>768745fc3d6984e6d6938b819426a3cb</string>
			<key>Key</key>
			<string>57baddbdf7d64453e26c1dec97027f9e</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>018-6482-014.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>420</integer>
	<key>RootFilesystemKey</key>
	<string>3C0F821663316C08A0A059C2979ECF47D13B363DE3A44010D0DE0B0A5CF878CFE39D00C3</string>
	<key>RootFilesystemMountVolume</key>
	<string>SUNorthstarTwo7E18.iPhoneOS</string>
	<key>SHA1</key>
	<string>eab23a7f8d2a17cb71046c50fc5f67ec390a3c2b</string>
	<key>Filename</key>
	<string>iPhone1,1_3.1.3_7E18_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone1,1_3.1.3_7E18</string>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7481.20100202.4orot/iPhone1,1_3.1.3_7E18_Restore.ipsw</string>
	<key>Platform</key>
	<integer>1</integer>
</dict>
</plist>
