#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.dump

!.gitignore

openiboot/*.img3
openiboot/*.img2
openiboot/openiboot
openiboot/client/oibc
openiboot/client/loadibec
openiboot/mk8900image/mk8900image

openiboot/images/bin2c

*.orig
*~
\#*#
